{% extends "base.html" %}

{% block title %} Birds profile {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <style>
        .card img{
            object-fit: cover;
            width: 100%;
            height: 80%;
        }
    </style>
    <div class="navbar-wrapper">
        <h3 class="navbar-brand">Gallery</h3>
    </div>
    <div class="row">
    {% if video_list %}
        {% for video in video_list %}
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-image">
                        <video controls>
                            <source src='{{ MEDIA_URL }}{{ video.video_file }}' type='video/mp4'>Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{ video.title }}</p>
                        {% if video.sharable %}
                            <a href="{% url 'make-video-public' video.id %}" class="btn btn-raised btn-danger btn-round">public <i class="material-icons">public</i></a>
                        {% else %}
                            <a href="{% url 'make-video-public' video.id %}" class="btn btn-success btn-round">private <i class="material-icons">public_off</i></a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> uploaded at {{ video.uploaded_at }}
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-md-4">
            <br>
            <p>No videos available in Gallery</p>
        </div>
    {% endif %}

    </div>
    
{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}
